@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-ultra-light.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-ultra-light-italic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-light-italic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-bold-italic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helveticaneuebold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-condensed-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("../fonts/helvetica-neue-condensed-black.ttf");
  font-weight: 900;
  font-style: normal;
}
input:focus + label,
input:not(:placeholder-shown) + label {
  color: #999999;
  font-size: 1.2rem;
  line-height: normal;
  -webkit-letter-spacing: 0.1rem;
  -moz-letter-spacing: 0.1rem;
  -ms-letter-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  top: calc(2.5rem - 2rem);
  width: 100%;
  padding: 0;
}

input:focus + label,
input:active + label {
  outline: 0px;
}
.home-product-slider .slick-prev {
  left: 25px;
  z-index: 50;
}

.home-product-slider .slick-next {
  right: 25px;
  z-index: 50;
}

.home-product-slider .slick-slide {
  opacity: 0.5;
}

.home-product-slider .slick-slide.slick-active {
  opacity: 1;
}
.slick-arrow {
  background-size: contain;
  background-repeat: no-repeat;
}
.home-product-slider-btn-next {
  transform: rotate(180deg);
}
